body {
    font-family: Arial, sans-serif;
    margin: 20px;

}

#chat-area{
    border: 1px solid #ccc;
    height: 300px;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

