
<body>
<link rel="stylesheet" href="/style.css">


<div class="app">


    <aside class="sidebar">
        <div class="user">
            <p><strong>Name</strong></p>
            <small>Sign up / Login</small>
        </div>
    </aside>

    <main class="chat-area">

        <div class="welcome">
            <h1>Welcome</h1>
        </div>

        <div class="messages" id="messages"></div>

        <div class="input-area">
            <input type="text" placeholder="Please type here..." />
            <button>Send</button>
        </div>

    </main>

</div>

<script src="/js/chat.js"></script>
</body>